.userInfo {
  /* border: 1px solid #333; */
  background-color: #fff;
  margin: 10px auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.imageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.avatar {
  width: 200px;
  height: 200px;
  border: 1px solid #333;
  border-radius: 50%;
  margin: 0 auto;
}
.userDetail {
  display: flex;
  flex-direction: column;
}
.followingWrapper {
  margin-bottom: 10px;
}
.followingWrapper span:first-child {
  margin-right: 10px;
}
.externalInfo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* Styles for Mobile Devices (max-width: 767px) */
@media only screen and (max-width: 767px) {
  .userInfo {
    width: 100%;
  }
}
